
 .CounterButton{
    font-size: 20px;
    background-color:mediumturquoise;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 25px;
    border-color: black;
    border-width: 1px;
}